# Vivado generated/cache directories
*.cache/
*.hw/
*.ip_user_files/
uart-reg/*.runs/
uart-reg/*.sim/
uart-reg/*.srcs/**/imports/
uart-reg/*.gen/

# Vivado logs, journals, backups
*.jou
*.log
*.str
webtalk*.log
webtalk*.jou
vivado*.log
vivado*.jou
vivado_pid*.zip
.Xil/
